.d-core-item 
  display block
  position relative
  min-height 40px
  white-space nowrap

  
  &.core-selected 
    font-weight bold
  
  
  .d-core-icon 
    margin 0 16px 0 4px
  
  a 
    position absolute
    top 0
    right 0
    bottom 0
    left 0

