.d-paper-radio-button 
  display inline-block
  white-space nowrap
  &:focus
    outline none
  /* disabled state */
  &.disabled
    pointer-events none


  &.disabled .off-radio
    border-color #eaeaea !important


  &.disabled .on-radio
    background-color #eaeaea !important

  .radio-container
    position relative
    width 16px
    height 16px
    cursor pointer


  .radio-container.labeled
    display inline-block
    vertical-align middle


  .d-paper-ripple
    position absolute
    top -17px
    left -17px
    width 50px
    height 50px
    color #5a5a5a


  .d-paper-ripple.checked
    color #0f9d58


  .off-radio
    position absolute
    top 0px
    left 0px
    width 12px
    height 12px
    border-radius 50%
    border solid 2px
    border-color #5a5a5a


  .on-radio
    position absolute
    top 0
    left 0
    width 16px
    height 16px
    border-radius 50%
    background-color #0f9d58
    -webkit-transform scale(0)
    transform scale(0)
    transition -webkit-transform ease 0.28s
    transition transform ease 0.28s


  .on-radio.fill
    -webkit-transform scale(1.1)
    transform scale(1.1)


  .radio-label
    position relative
    display inline-block
    vertical-align middle
    margin-left 10px
    white-space normal
    pointer-events none


  .radio-label.hidden
    display none



