<index: element="d-paper-dialog">
<!--
Provides a dialog overlay.

Child elements that include a `dismissive` attribute are positioned in the lower left corner of the dialog. Elements that use the `affirmative` attribute are positioned in the lower right corner.

Child elements that include the `dismissive` or `affirmative` attribute will automatically toggle the dialog when clicked.

One child element should have the `autofocus` attribute so that the Enter key will automatically take action. This is
especially important for screen reader environments.

Example:

    <paper-dialog heading="Title for dialog">
      <p>Lorem ipsum ....</p>
      <p>Id qui scripta ...</p>
      <paper-button label="More Info..." dismissive></paper-button>
      <paper-button label="Decline" affirmative></paper-button>
      <paper-button label="Accept" affirmative autofocus></paper-button>
    </paper-dialog>

`<paper-dialog>` can be used with `<paper-transition>` to transition the overlay open and close.

Transition examples:

    <paper-dialog heading="Title for dialog" transition="paper-transition-center">

    <paper-dialog heading="Title for dialog" transition="paper-transition-bottom">

-->
<div as="overlay" class="d-paper-dialog overlay {{transition.base}}{{if opened}} {{transition.opened}}{{/if}} {{if !opened}}{{transition.base + '-' + transition.type}}{{/if}} {{class}}" opened="{{opened}}" role="dialog" aria-label="{{heading}}">
    <div class="scrim{{if opened}} core-opened{{/if}}" on-click="close($event, $element)"></div>
    <div class="container layout vertical" style="width: {{width}}; height: {{height}};">
        <d-paper-shadow z="3" hasPosition="true"></d-paper-shadow>
        <div class="dialog-content">
            {{@content}}
        </div>
    </div>
</div>
