<index: element="d-paper-toggle-button">
<!--
`paper-toggle-button` provides a ON/OFF switch that user can toggle the state
by tapping or by dragging the swtich.

Example:

    <paper-toggle-button></paper-toggle-button>

Styling toggle button:

To change the ink color for checked state:

    paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
      color: #4285f4;
    }
    
To change the radio checked color:
    
    paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
      background-color: #4285f4;
    }
    
To change the bar color for checked state:

    paper-toggle-button::shadow #toggleBar[checked] {
      background-color: #4285f4;
    }
    
To change the ink color for unchecked state:

    paper-toggle-button::shadow paper-radio-button::shadow #ink {
      color: #b5b5b5;
    }
    
To change the radio unchecked color:
    
    paper-toggle-button::shadow paper-radio-button::shadow #offRadio {
      border-color: #b5b5b5;
    }

To change the bar color for unchecked state:

    paper-toggle-button::shadow #toggleBar {
      background-color: red;
    }
-->

<div class="d-paper-toggle-button{{if checked}} checked{{/if}}" touch-action="pan-y" role="button" aria-pressed="{{checked}}" tabindex="0" on-click="clickAction($event, $element)" on-dblclick="dblClickAction($event, $element)" on-mousedown="downAction($event, $element)" on-mouseup="upAction($event, $element)" on-focus="focusAction($event, $element)" on-blur="blurAction($event, $element)" on-contextmenu="contextMenuAction($event, $element)">

  <div class="toggle-container">
  
    <div as="toggleBar" class="toggle-bar"></div>
    <div as="toggleRadio" class="toggle-radio{{if dragging}} dragging{{/if}}">

        <d-paper-radio-button as="radio" toggles checked="{{checked}}"></d-paper-radio-button>

    </div>
  </div>
</div>