.d-core-transition
  &.core-transition
    outline none
    overflow hidden
    opacity 0
    transition transform 0.2s ease-in-out, opacity 0.2s ease-in
    -webkit-transition -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in
    &.core-opened
      opacity 1
      transform none
      -webkit-transform none


  &.core-transition-center
    transform scale(0.5)
    -webkit-transform scale(0.5)


  &.core-transition-top
    transform translateY(-200%)
    -webkit-transform translateY(-200%)


  &.core-transition-bottom
    transform translateY(200%)
    -webkit-transform translateY(200%)


  &.core-transition-left
    transform translateX(-200%)
    -webkit-transform translateX(-200%)


  &.core-transition-right
    transform translateX(200%)
    -webkit-transform translateX(200%)
