.d-core-toolbar 
  /* technical */
  display block
  position relative
  box-sizing border-box
  -moz-box-sizing border-box
  /* size */
  height 64px
  /* typography */
  font-size 24px
  font-weight 300
  /* background */
  background-color $core-toolbar-background-color


.d-core-toolbar.animate 
  /* transition */
  transition height 0.18s ease-in


.d-core-toolbar.medium-tall 
  height 128px


.d-core-toolbar.tall 
  height 192px


.toolbar-tools 
  height 64px
  padding 0 8px
  pointer-events none


/* narrow layout */
.d-core-toolbar.narrow 
  height 56px


.d-core-toolbar.narrow.medium-tall 
  height 112px


.d-core-toolbar.narrow.tall 
  height 168px


.d-core-toolbar.narrow .toolbar-tools 
  height 56px
  padding 0


/* middle bar */
.middle-bar
  position absolute
  top 0
  right 0
  left 0


.d-core-toolbar.tall, .d-core-toolbar.medium-tall 
  .middle-bar
    -webkit-transform translateY(100%)
    transform translateY(100%)


/* bottom bar */
.bottom-bar
  position absolute
  right 0
  bottom 0
  left 0


/* shows bottom bar only when in normal height (!tall && !medium-tall) */
.d-core-toolbar.animate.no-overlap > .top-bar,
.d-core-toolbar.animate.no-overlap > .middle-bar
  transition -webkit-transform 0.18s ease-in
  transition transform 0.18s ease-in


.d-core-toolbar.no-overlap:not(.medium-tall):not(.tall) > .top-bar
  -webkit-transform translateY(-100%)
  transform translateY(-100%)


.d-core-toolbar.no-overlap:not(.medium-tall):not(.tall) > .middle-bar
  -webkit-transform translateY(-200%)
  transform translateY(-200%)


/* make elements (e.g. buttons) respond to mouse/touch events */
.toolbar-tools > *
  pointer-events auto


/* elements spacing */
.toolbar-tools > *
  margin 0px 8px


/* misc helpers */
toolbar-tools > .fit
  position absolute
  top auto
  right 0
  bottom 0
  left 0
  width auto
  margin 0


.d-core-toolbar .indent
  margin-left 60px

