.d-paper-progress 
  display inline-block
  width 200px
  height 4px


  .progress-container
    position relative
    height 100%
    background-color #c8c8c8


  .active-progress, .secondary-progress
    position absolute
    top 0
    left 0
    bottom 0


  .active-progress
    background-color #0f9d58


  .secondary-progress
    background-color #87ceac
