.d-core-overlay
  .scrim
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color black
    opacity 0
    transition opacity 0.2s
    &.core-opened
      opacity 0.6
