$primary-color-0 = #ffffff
$primary-color-1 = #3f51b5
$primary-color-2 = #c5cae9
$primary-color-3 = #1a237e

$accent-color-0 = #ffffff
$accent-color-1 = #ff4081
$accent-color-2 = #ff80ab
$accent-color-3 = #f50057

$text-color-0 = #ffffff
$text-color-1 = #ffffff
$text-color-2 = #000000
$text-color-3 = rgba(0,0,0,0.12)
$text-color-4 = rgba(0,0,0,0.26)
$text-color-5 = rgba(0,0,0,0.54)
$text-color-6 = rgba(0,0,0,0.87)


$core-toolbar-background-color = $primary-color-1

$dialog-background-color = $primary-color-0