.d-paper-tab 
  display block
  position relative
  overflow hidden


  .tab-container
    position absolute
    top 0
    right 0
    bottom 0
    left 0


  .tab-content
    transition opacity .1s cubic-bezier(0.4, 0.0, 1, 1), color .1s cubic-bezier(0.4, 0.0, 1, 1)
    cursor default
    pointer-events none


  &:not(.core-selected) .tab-content
    opacity 0.6


  .ink
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    color #ffff8d


  &.noink .ink
    pointer-events none


  .d-paper-tab-context.paper-tabs.noink .ink
    pointer-events none

