<index: element="d-paper-tile">
    <div as="wrapper" class="d-paper-tile{{if raised}} raised-button{{/if}} {{class}}" on-dblclick="dblclickAction($event, $element)" on-click="clickAction($event, $element)" on-mousedown="downAction($event, $element)" on-mouseup="upAction($event, $element)" on-mouseenter="mouseEnterAction($event, $element)" on-mouseleave="mouseLeaveAction($event, $element)" on-focus="focusAction($event, $element)" on-blur="blurAction($event, $element)" on-contextmenu="contextMenuAction($event, $element)" style="z-index: {{z}};">
        {{if raised}}
            <div class="shadow-container fit">
                <d-paper-shadow z="{{z}}" splash="{{splash}}" animated="{{animated}}" borderRadius="{{borderRadius}}"></d-paper-shadow>
            </div>
        {{/if}}
        {{if rippled}}
        <div class="ripple-container fit">
            <d-paper-ripple as="ripple" recenteringTouch borderRadius="0" pixelDensity="2"></d-paper-ripple>
        </div>
        {{/if}}
        <div class="data-container">
            <span class="name">
                {{if icon}}
                    <d-core-icon icon="{{icon}}" src="{{iconSrc}}"></d-core-icon>
                {{/if}}
                {{name}}
            </span>
        </div>

    </div>
