:host {
  display: block;
  height: auto;
}

:host(.core-selected, [active]) {
  font-weight: initial;
}

core-item {
  cursor: default;
}

::content > core-item {
 cursor: default; 
}

#submenu {
  margin: 0 0 0 44px;
}
