.d-paper-item 
  display block
  position relative
  -webkit-user-select none
  user-select none
  cursor pointer
  height 36px
  padding 0 12px
  color $text-color-5
  fill $text-color-5
  .d-paper-ripple 
    position absolute
    top 0
    left 0
    bottom 0
    right 0
  .icon 
    margin-right 8px