<index: element="d-paper-item">
<!--

`paper-item` is a list-item object for use in menus. It may contain and icon and/or
a text label.

Example:

    <core-menu>
        <paper-item icon="refresh">Refresh</paper-item>
        <paper-item>Help</paper-item>
        <paper-item>Sign Out</paper-item>
    </core-menu>

-->

<div data-key="{{if value}}{{value}}{{/if}}" class="d-paper-item{{if center}} center{{/if}}{{if horizontal}}horizontal{{/if}}{{if layout}}layout{{/if}}" on-click="clickAction($event, $element)" on-dblclick="dblClickAction($event, $element)" on-mousedown="downAction($event, $element)" on-mouseup="upAction($event, $element)" on-focus="focusAction($event, $element)" on-blur="blurAction($event, $element)" on-contextmenu="contextMenuAction($event, $element)" >

    <d-paper-ripple as="ripple" circle="{{circle}}" borderRadius="{{borderRadius}}"></d-paper-ripple>

    {{if icon}}
        <d-core-icon class="icon" src="{{src}}" icon="{{icon}}"></d-core-icon>
    {{/if}}
    
    {{label}}
</div>
